
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    border: 0.3px solid #e2e1e1;
    background: rgb(255, 255, 255);
}

.card .card-header {
    margin: -20px -20px 15px -20px;
    border-radius: 10px 10px 0 0;
    padding: 18px;
    border-bottom: 0.3px solid #e2e1e1;
    background: rgba(241, 241, 241, 0.5);
}

.card .card-footer {
    margin: 15px -20px -20px -20px;
    border-radius: 0 0 10px 10px;
    padding: 18px;
    border-top: 0.3px solid #e2e1e1;
    background: rgba(241, 241, 241, 0.5);
}